/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 重置字體 */
body {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
}
/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
/* 重置列表 */
ul,
ol {
    list-style: none;
}
/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
/* 重置連接 */
a {
    text-decoration: none;
}
